<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" novalidate>
  <ng-container *ngFor="let control of fields">
    {{ control.Id }} -- {{ control.EnLabel }}
    <input
      [type]="control.TemplateType"
      *ngIf="
        control.FieldType == 'input' &&
        (
          control.ConditionalView.Conditions != undefined &&
          control.ConditionalView.Conditions.length == 0
        ) || (control.ConditionalView.Conditions == undefined)
      "
      [formControlName]="control.Id"
    />
    <textarea
      *ngIf="control.FieldType == 'textarea'"
      [formControlName]="control.Id"
      name=""
      id=""
      cols="30"
      rows="10"
    ></textarea>
    <select
      *ngIf="control.FieldType == 'select'"
      [formControlName]="control.Id"
    >
      <option value="">ALL</option>
      <option
        [value]="option.Id"
        *ngFor="let option of control.GroupOfAnswers.AnswerGroupValues"
      >
        {{ option.EnValue }}
      </option>
    </select>

    <ng-container *ngFor="let validation of control.Validations">
      <span
        *ngIf="
          dynamicForm.controls[control.Id].touched &&
          dynamicForm.controls[control.Id].errors
        "
      >
        <p *ngIf="dynamicForm.controls[control.Id].errors[validation.name]">
          {{ validation.message }}
        </p>
      </span>
    </ng-container>
    <br />
  </ng-container>
  <br />
  <input type="submit" [disabled]="!dynamicForm.valid" />
</form>

{{ dynamicForm.valid | json }}
